<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.INFS3605App">
        <activity
            android:name=".StudentFeedbackFormActivity"
            android:exported="false" />
        <activity
            android:name=".AboutPageActivity"
            android:exported="false" />
        <activity
            android:name=".OrganiserPublicProfileActivity"
            android:exported="false" />
        <activity
            android:name=".StaffSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".StudentSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".StaffAllEventsActivity"
            android:exported="false" />
        <activity
            android:name=".EventFeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".ManageEventDetailActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".EventsPendingApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".EventDetailActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterAlumni"
            android:exported="false" />
        <activity
            android:name=".CreateEventActivity"
            android:exported="false" />
        <activity
            android:name=".StudentFollowingListActivity"
            android:exported="false" />
        <activity
            android:name=".StudentPastEventsActivity"
            android:exported="false" />
        <activity
            android:name=".StudentAllEventsActivity"
            android:exported="false" />
        <activity
            android:name=".StudentSavedEventsActivity"
            android:exported="false" />
        <activity
            android:name=".StudentHomePageActivity"
            android:exported="false" />
        <activity
            android:name=".CreateUserActivity"
            android:exported="false" />
        <activity
            android:name=".LandingPageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>