<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.INFS3605App"
        tools:targetApi="31" >
        <activity
            android:name=".StaffHomePageActivity"
            android:exported="false" />
        <activity
            android:name=".EventsPendingApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".StaffManageEventActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterAlumni"
            android:exported="false" />
        <activity
            android:name=".StaffCreateEventActivity"
            android:exported="false" />
        <activity
            android:name=".StudentFollowingListActivity"
            android:exported="false" />
        <activity
            android:name=".StudentPastEventsActivity"
            android:exported="false" />
        <activity
            android:name=".StudentAllEventsActivity"
            android:exported="false" />
        <activity
            android:name=".StudentSavedEventsActivity"
            android:exported="false" />
        <activity
            android:name=".StudentHomePageActivity"
            android:exported="false" />
        <activity
            android:name=".CreateUserActivity"
            android:exported="false" />
        <activity
            android:name=".LandingPageActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>